<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <Launcher.Properties.Settings>
            <setting name="LocalVersionFilePath" serializeAs="String">
                <value>app\version.txt</value>
            </setting>
            <setting name="Title" serializeAs="String">
                <value>Laucher Sample</value>
            </setting>
            <setting name="ServerVersionFilePath" serializeAs="String">
                <value>https://hogehoge.jp/sample/{0}.txt</value>
            </setting>
            <setting name="ExecuteFilePath" serializeAs="String">
                <value>app\app.bat</value>
            </setting>
            <setting name="ServerPatchFilePath" serializeAs="String">
                <value>https://hogehoge.jp/sample/sample_patch_{0}_to_{1}.dat</value>
            </setting>
            <setting name="PatchFilename" serializeAs="String">
                <value>sample_patch_{0}_to_{1}.exe</value>
            </setting>
            <setting name="RegistryPathKey" serializeAs="String">
                <value>Software\HogeHoge\Sample</value>
            </setting>
            <setting name="RegistryKey" serializeAs="String">
                <value>ExePath</value>
            </setting>
            <setting name="DownloadTitle" serializeAs="String">
                <value>Downloader</value>
            </setting>
        </Launcher.Properties.Settings>
    </applicationSettings>
</configuration>